In [3]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
from datetime import date
plots.style.use('fivethirtyeight')

# Words of Caution
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

# Markdown
1. write bold and italic
1. create a list
    1. bullet
    1. numbered
1. create a table
1. write a formula
1. write code
1. add a link
1. add an image

*italic text*, **bold text**

- item 1
- item 2

1. item 1
2. item 2
3. item 3
4. item 4

| Column a | Column b |
| ---      | ---      |
| 1 | 2        |

$E = mc^2$

$\alpha$

`a = 1`

[Linked to canvas](https://ucsb.instructure.com/courses/19623)

![](https://upload.wikimedia.org/wikipedia/commons/1/15/Cat_August_2010-4.jpg)

# Intro to Python

let's do some basic math operations on numbers: 
- add
- divide
- multiply
- raise
- evaluate inequalities

Let's do some operations on text (aka: string)
- add
- multiply

Optional: Let's do some operations on dates

In [4]:
3 + 4

7

In [5]:
3 / 4 # notice our result with division, is a float data type 
# a float has a decimal place

0.75

In [6]:
3 / 1

3.0

In [7]:
3 * 4

12

In [8]:
2 ** 3

8

In [9]:
# evaluate inequalities
1 >= 4
# boolean value of False, there are two types of boolean values (True or False)
# numerically, boolean values translate to True = 1, False = 0

False

In [10]:
"this is a text" + "more text"

'this is a textmore text'

In [11]:
"this is a text" + " more text"

'this is a text more text'

In [12]:
"this is a text " + "more text" # we can also add strings together, we concatenate the strings to each other

'this is a text more text'

In [13]:
'ha' * 4 # we can multiply strings together, what it does is it concatenates the strings to each other

'hahahaha'

In [14]:
'ha' + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
'ha' + '1'

'ha1'

In [16]:
1 + 1.0

2.0

In [17]:
type(1)

int

In [18]:
type(1.0)

float

In [19]:
type(1 + 1.0) # if i add a float and an int toghether, the output will be a float

float

# Names (aka: variables)
- let's assign some values to variables/names
- let's use the variables
- let's overwrite variables

In [20]:
15 * 40 * 52

31200

In [21]:
15.50 * 40 * 52

32240.0

In [22]:
16 * 40 * 52

33280

In [23]:
16.50 * 40 * 52

34320.0

In [24]:
(16.50 * 40 * 52) - (15 * 40 * 52)

3120.0

## Why Names?
- Calculate the annual salary for a person working full-time under California minimum wage of 15 USD/hour. 
- on 2023-01-01, the minimum wage was raised to 15.50 USD/hour. Recalculate the minimum wage.

In [36]:
hours_per_week = 40
weeks_per_year = 52
salary = 16.50 # USD/h

In [26]:
hours_per_year = hours_per_week * weeks_per_year
hours_per_year

2080

In [27]:
weekly_wages = hours_per_week * salary
weekly_wages

600.0

In [39]:
yearly_wages = hours_per_year * salary
yearly_wages

34320.0

# Comments

In [42]:
hours_per_week = 40 # as of 01/01/24, i work full-time, 40 hours a week
weeks_per_year = 52 # as of 01/01/24, i work 52 week each year
hourly_wage_2024 = 16.50 # USD/h # as of 04/01/24, i got a raise and now make $16.50/hour
# previously my hourly wage was $16.00
# and when i first started it was $15.00, back in 01/01/22
hourly_wage_2022 = 15

In [44]:
# find the difference in yearly wage between now and when i first started the job
yearly_wages_2024 = hours_per_year * hourly_wage_2024 # this is my yearly wage anticipated for 2024
yearly_wages_2022 = hours_per_year * hourly_wage_2022 # this was my yearly wage for 2022
salary_difference = yearly_wages_2024 - yearly_wages_2022
salary_difference
# I anticipate my increase in yearly wage from 2022 to 2024 to be $3,120.00.

3120.0

# Functions
- let's use some [built-in functions](https://docs.python.org/3/library/functions.html). E.g:
    - absolute value
    - the lower of two values
    - round    
- let's use keywords for arguments
- let's define our own function
- lets use the `help()` function to learn about the usage of functions

In [45]:
abs(-45)

45

In [46]:
abs(45)

45

In [51]:
temp_day = 72
temp_night = 45

print(abs(temp_day - temp_night)) # print() statement, allows me to display multiple expressions in my cell output
print(abs(temp_night- temp_day)) # notice without the print() statement, the default behavior for a cell
# is to display the last thing that was evaluated

27
27

In [47]:
min(-45, 45)

-45

In [48]:
max(-45, 45)

45

In [52]:
round(1.1, 1) # round 1.1 to the nearest 1 decimal place

1.1

In [53]:
round(1.1, 0)

1.0

In [54]:
round(ndigits = 1, number = 1.1) # ordering of arguments is technically wrong
# but since i specified the argument "flags", number= and ndigits =
# python evaluates this function correctly

1.1

In [55]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [56]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [58]:
# write a brand new function
# below we are defining a function called f
# we define a function using the keyword 'def'
# notice the function header on line 6, ends with a colon
# this signifies to python that the lines indented below the function header, acts as our function body
def f(a):
    return a

In [59]:
f(8)

8

In [60]:
f('8')

'8'

In [61]:
f(8 + 8) # f(16)

16

In [70]:
'''
you can write a comment with three apostrophes like this, 
it allows for multi-line comments
very useful for writing your own documentation for functions you create
'''

'\nyou can write a comment with three apostrophes like this, \nit allows for multi-line comments\nvery useful for writing your own documentation for functions you create\n'

In [63]:
def add_values(a, b):
    '''add_values returns the sum of a and b
    '''
    added_values = a + b
    return added_values

In [64]:
add_values(10, 20)

30

In [65]:
add_values(-20, -20)

-40

In [67]:
add_values('hello', ' world')

'hello world'

---
slides

---

# Tables A)
[Documentation](http://www.data8.org/datascience/reference-nb/datascience-reference.html#Table-Functions-and-Methods)

1. read a CSV from `data/cones.csv` into a table using `Table.read_table()`
1. show the first n_rows using `show()`
1. select a single column from the table using `select()`
1. select multiple columns from the table using `select()`
1. remove a column from the table using `drop()`
1. subset the table to only chocolate cones using `where()` 
1. sort the cones by price using `sort()`
    1. most expensive first
    1. cheapest first
1. add a new column containing your rating using `with_column()`
    
Remember that you can use the `help()` function or `?` to learn about each function

In [71]:
cones = Table.read_table('data/cones.csv')
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

In [72]:
cones.show(3)

In [73]:
cones.select('Price')

Price
3.55
4.75
5.25
5.25
5.25
4.75

In [74]:
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

In [75]:
cones.select('Flavor','Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [76]:
cones.drop('Color')

Flavor     | Price | Rating
strawberry | 3.55  | 1
chocolate  | 4.75  | 4
chocolate  | 5.25  | 3
strawberry | 5.25  | 2
chocolate  | 5.25  | 5
bubblegum  | 4.75  | 1

In [77]:
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

In [78]:
cones_without_color = cones.drop('Color')
cones_without_color

Flavor     | Price | Rating
strawberry | 3.55  | 1
chocolate  | 4.75  | 4
chocolate  | 5.25  | 3
strawberry | 5.25  | 2
chocolate  | 5.25  | 5
bubblegum  | 4.75  | 1

In [79]:
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

In [80]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price | Rating
chocolate | light brown | 4.75  | 4
chocolate | dark brown  | 5.25  | 3
chocolate | dark brown  | 5.25  | 5

In [82]:
cones.where('Flavor', ' chocolate')

Flavor | Color | Price | Rating

In [83]:
cones.sort('Price')

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
bubblegum  | pink        | 4.75  | 1
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5

In [84]:
cones.sort('Price', descending = True)

Flavor     | Color       | Price | Rating
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
chocolate  | light brown | 4.75  | 4
bubblegum  | pink        | 4.75  | 1
strawberry | pink        | 3.55  | 1

In [86]:
cones.with_column('ratings from Yelp', (5, 1, 5, 3, 2, 3))

Flavor     | Color       | Price | Rating | ratings from Yelp
strawberry | pink        | 3.55  | 1      | 5
chocolate  | light brown | 4.75  | 4      | 1
chocolate  | dark brown  | 5.25  | 3      | 5
strawberry | pink        | 5.25  | 2      | 3
chocolate  | dark brown  | 5.25  | 5      | 2
bubblegum  | pink        | 4.75  | 1      | 3

In [87]:
cones

Flavor     | Color       | Price | Rating
strawberry | pink        | 3.55  | 1
chocolate  | light brown | 4.75  | 4
chocolate  | dark brown  | 5.25  | 3
strawberry | pink        | 5.25  | 2
chocolate  | dark brown  | 5.25  | 5
bubblegum  | pink        | 4.75  | 1

# Tables B)
1. read the CSV `data/skyscrapers.csv`
1. show the number of skyscrapers in the dataset using the *attribute* `num_rows`
1. sort the table by completion year. What can we learn?
1. subset the data to skyscrapers in 'Los Angeles'
    1. subset to skyscrapers in `Los Angeles` that were built in the year 1971
1. get data on the 'Empire State Building' in 'New York City'
1. rename the column 'completed' column using `relabel()`
1. get all skyscrapers in `New York City` and sort them by when they have been built

# Visualizations
1. read the csv `data/movies_by_year.csv`
1. Plot the number of movies vs the total gross using `scatter()`
    - add a trendline
1. Plot the number of movies over time using `plot()`