In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Markdown
- Create bullet list
- Create a numbered list
- Create a table

|column 1 | column2|
|--|--|
| a| b|

# Python

let's do some basic math operation: add, divide, multiply, raise

# Names/Variables
- let's assign some values variables/names
- let's use the variables
- let's overwrite variables

## Why names?
- Calculate the annual salary for a person working full-time under California minimum wage of 15 USD/hour. 
- on 2023-01-01, the minimum wage was raised to 15.50 USD/hour. Recalculate the minimum wage.

## Strings
lets create some strings

# Functions
- let's use some built-in functions. E.g:
    - absolute value
    - round
    - the lower of two values
- lets use the `help()` function to learn about the usage of functions
- let's define our own function

# Collections/Lists
Lets define collections of values

# Tables
usage: 
```python
Table().with_columns([column1_name, column1_values,
                      column2_name, column2_values,
                      ...])
```