In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Markdown
- Create bullet list
- Create a numbered list
  1. Here is my numbered
  2. list
- Create a table

|column 1 | column2|
|--|--|
| a| b|

In [ ]:
# i can also write comments in a code cell
# using pound/hashtag symbols
# to accompany my code in a code cell
# it appears green like this
# and tells python to not execute these comments
# it provides some context/explanation for my code

# really important so when i revisit this notebook, it is clear what i'm doing with my code

# Python

let's do some basic math operation: add, divide, multiply, raise

In [2]:
2 + 2

4

In [3]:
2 / 2 # with division, the output is always going to be a float data type (decimal value)

1.0

In [4]:
2 * 2

4

In [5]:
2 ** 2 # 2^2

4

In [6]:
2 ** 3 # 2^3

8

# Names/Variables
- let's assign some values variables/names
- let's use the variables
- let's overwrite variables

In [7]:
x = 2 # assigning value of 2 to variable name x
x # call on x, to display it below

2

In [9]:
y = 3 # by default, python will not display a variable when a value is being assigned
# to display or check the assignment was done properly, we "call" on a variable
# by typing the variable name, like so
y

3

In [10]:
x = 3
x

3

In [12]:
x * y # 3 * 3
# python interprets here what x is and y is 
# 3 * 3 = 9

9

In [13]:
x ** y

27

In [14]:
x / y

1.0

In [15]:
x - y

0

In [16]:
x

3

In [17]:
x = x - y

In [18]:
x

0

## Why names?
- Calculate the annual salary for a person working full-time under California minimum wage of 15 USD/hour. 
- on 2023-01-01, the minimum wage was raised to 15.50 USD/hour. Recalculate the minimum wage.

In [19]:
hours_yearly = 40 * 52
hours_yearly

2080

In [20]:
minimum_wage = 15

In [23]:
annual_salary = hours_yearly * minimum_wage
annual_salary # value is saved to variable name annual_salary, not the expression above

31200

In [26]:
minimum_wage = 15.50
annual_salary = annual_salary = hours_yearly * minimum_wage # when minimum_wage changes, we re-run the assignment here
annual_salary # now annual_salary is recalculated

32240.0

## Strings
lets create some strings

# Functions
- let's use some built-in functions. E.g:
    - absolute value
    - round
    - the lower of two values
- lets use the `help()` function to learn about the usage of functions
- let's define our own function

# Collections/Lists
Lets define collections of values

# Tables
usage: 
```python
Table().with_columns([column1_name, column1_values,
                      column2_name, column2_values,
                      ...])
```